body,
p {
  margin: 0px;
}

.container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.container .header {
  background-color: #f1c40f;
  height: 45px;
  margin: 0px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-logo {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.grid-panel,
.grid-setting {
  padding-left: 10px;
}

.container .emoji-container {
  height: 455px;
  overflow: hidden;
}

.emoji-nav {
  background-color: #bdc3c7;
  height: 45px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
}

.emoji-nav a:link {
  color: #8b8e91;
}

.emoji-search {
  height: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.emoji-list {
  height: 310px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.emoji-span-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 22px;
  justify-items: center;
  align-items: center;
}

.intercom-emoji-picker-group-title {
  font-size: 16px;
  font-weight: 600;
  color: #d8dde0;
  padding-left: 10px;
  margin-bottom: 15px;
}
.intercom-emoji-picker-group-title i {
  margin-right: 5px;
  font-size: 14px;
}

.emoji-span-container span {
  height: 40px;
}
.container .footer {
  background-color: #bdc3c7;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
